<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, <%= @user.first_name %>.
    </p>
    <p>
      Your OTP is:  <h4><%= @email_otp.otp %></h4>
    </p>

    <p>
      Please do not share this otp to any other
    </p>
    <p>
      Regards,<br>
      Demo.Forget.Password
    </p>
  </body>
</html>